@model MarvelPhases.Models.Phase

@{
    ViewBag.Title = "Detail";
}

<style>
    th {
        padding: 5px;
        text-align: left;
        width: 30%;
    }

    td {
        padding: 5px;
        text-align: left;
    }
</style>

<div>
    <table id="list" style="margin: 30px; width: 100%">
        <tr>
            <th colspan="2">
                <h1 style="text-align: center">Phase</h1>
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhaseName)
            </th>
            <td>
                @Html.DisplayFor(model => model.PhaseName)
            </td>
        </tr>

    </table>
    <div style="margin: 30px;">
        <a class="backbutton" href="@Url.Action("Index","Phases")">Go Back</a>
    </div>
</div>
