<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @{
        ViewBag.Title = "Marvel Phases";
        @Styles.Render("~/Content/Site.css")
        @Styles.Render("~/Content/bootstrap.css")
        @Scripts.Render("~/bundles/modernizr")
    }
</head>
<body>
    <div class="container">
        <ul class="backgroundslider1">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div>
        <h1 style="text-align: center; font-weight: bold; color: white;">Marvel Phases</h1>
    </div>
    <div style="text-align: center; ">
        <a class="button button1" href="@Url.Action("Index","Phases")">All Phases</a>
    </div>
</body>
</html>