* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/* NAVBAR */
nav.navbar-findcond {
    background: #fff;
    border-color: red;
    box-shadow: 0 0 2px 0 red;
    font-family: 'Cabin', sans-serif;
}

nav.navbar-findcond a {
   color: red;
   font-size: 20px;
   font-family: 'Cabin', sans-serif;
   line-height: 20px;
}

nav.navbar-findcond a:hover {
   color: black;
   transform: scale(1.5);
}

nav.navbar-findcond ul.navbar-nav a {
   color: red;
   border-style: solid;
   border-width: 0 0 2px 0;
   border-color: #fff;
}

nav.navbar-findcond ul.navbar-nav a:hover,
nav.navbar-findcond ul.navbar-nav a:visited,
nav.navbar-findcond ul.navbar-nav a:focus,
nav.navbar-findcond ul.navbar-nav a:active {
  background: #fff;
}

nav.navbar-findcond ul.navbar-nav a:hover {
  border-color: red;
  color: black;
  transform: scale(1.5);
} 

nav.navbar-findcond li.divider {
  background: #ccc;
}

nav.navbar-findcond button.navbar-toggle {
  background: red;
  border-radius: 2px;
}

nav.navbar-findcond button.navbar-toggle:hover {
  background: #999;
}

nav.navbar-findcond button.navbar-toggle > span.icon-bar {
  background: #fff;
}

nav.navbar-findcond ul.dropdown-menu {
  border: 0;
  background: #fff;
  border-radius: 4px;
  margin: 4px 0;
  box-shadow: 0 0 4px 0 #ccc;
}

nav.navbar-findcond ul.dropdown-menu > li > a {
  color: #444;
}

nav.navbar-findcond ul.dropdown-menu > li > a:hover {
  background: red;
  color: #fff;
}

nav.navbar-findcond span.badge {
  background: red;
  font-weight: normal;
  font-size: 11px;
  margin: 0 4px;
}

nav.navbar-findcond span.badge.new {
  background: rgba(255, 0, 0, 0.8);
  color: #fff;
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 100px;
    margin-right: 20px;
    margin-top: 15px;
}
/* End of Navbar*/




/* Picture Carousel */
.container {
    width: 100%;
    height: 100%;
}

.backgroundslider {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.backgroundslider li {
   position: absolute;
   width: 100%;
   height: 100%;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   opacity: 0;
   animation: images 24s linear infinite;
   -moz-animation: images 24s linear infinite;
   -ms-animation: images 24s linear infinite;
   -o-animation: images 24s linear infinite;
   -webkit-animation: images 24s linear infinite;
}

.backgroundslider li:nth-child(1) {
   background-image: url("../IMG/ironman.jpg")
}

.backgroundslider li:nth-child(2) {
   background-image: url("../IMG/blackpanther.jpg");
   animation-delay: 6s;
   -moz-animation-delay: 6s;
   -ms-animation-delay: 6s;
   -o-animation-delay: 6s;
   -webkit-animation-delay: 6s;
 }

.backgroundslider li:nth-child(3) {
  background-image: url("../IMG/daredevil.jpg");
  animation-delay: 12s;
  -moz-animation-delay: 12s;
  -ms-animation-delay: 12s;
  -o-animation-delay: 12s;
  -webkit-animation-delay: 12s;
}

.backgroundslider li:nth-child(4) {
  background-image: url("../IMG/avengersinfinitywar.jpg");
  animation-delay: 18s;
  -moz-animation-delay: 18s;
  -ms-animation-delay: 18s;
  -o-animation-delay: 18s;
  -webkit-animation-delay: 18s;
}

.backgroundslider1 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.backgroundslider1 li {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    animation: images 18s linear infinite;
    -moz-animation: images 18s linear infinite;
    -ms-animation: images 18s linear infinite;
    -o-animation: images 18s linear infinite;
    -webkit-animation: images 18s linear infinite;
}

.backgroundslider1 li:nth-child(1) {
    background-image: url("../IMG/thor.jpg")
}

.backgroundslider1 li:nth-child(2) {
    background-image: url("../IMG/guardiansofgalaxy.jpg");
    animation-delay: 6s;
    -moz-animation-delay: 6s;
    -ms-animation-delay: 6s;
    -o-animation-delay: 6s;
    -webkit-animation-delay: 6s;
}

.backgroundslider1 li:nth-child(3) {
   background-image: url("../IMG/doctorstrange.jpg");
   animation-delay: 12s;
   -moz-animation-delay: 12s;
   -ms-animation-delay: 12s;
   -o-animation-delay: 12s;
   -webkit-animation-delay: 12s;
}

.backgroundslider2 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.backgroundslider2 li {
   position: absolute;
   width: 100%;
   height: 100%;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   opacity: 0;
   animation: images 18s linear infinite;
   -moz-animation: images 18s linear infinite;
   -ms-animation: images 18s linear infinite;
   -o-animation: images 18s linear infinite;
   -webkit-animation: images 18s linear infinite;
}

.backgroundslider2 li:nth-child(1) {
    background-image: url("../IMG/captianamerica.jpg");
}

.backgroundslider2 li:nth-child(2) {
    background-image: url("../IMG/antman.jpg");
    animation-delay: 6s;
    -moz-animation-delay: 6s;
    -ms-animation-delay: 6s;
    -o-animation-delay: 6s;
    -webkit-animation-delay: 6s;
}

.backgroundslider2 li:nth-child(3) {
  background-image: url("../IMG/spiderman.jpg");
  animation-delay: 12s;
  -moz-animation-delay: 12s;
  -ms-animation-delay: 12s;
  -o-animation-delay: 12s;
  -webkit-animation-delay: 12s;
}

.backgroundslider3 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.backgroundslider3 li {
   position: absolute;
   width: 100%;
   height: 100%;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   opacity: 0;
   animation: images 18s linear infinite;
   -moz-animation: images 18s linear infinite;
   -ms-animation: images 18s linear infinite;
   -o-animation: images 18s linear infinite;
   -webkit-animation: images 18s linear infinite;
}

.backgroundslider3 li:nth-child(1) {
   background-image: url("../IMG/agentcarter.jpg")
}

.backgroundslider3 li:nth-child(2) {
   background-image: url("../IMG/lukecage.jpg");
   animation-delay: 6s;
   -moz-animation-delay: 6s;
   -ms-animation-delay: 6s;
   -o-animation-delay: 6s;
   -webkit-animation-delay: 6s;
}

.backgroundslider3 li:nth-child(3) {
   background-image: url("../IMG/ironfist.jpg");
   animation-delay: 12s;
   -moz-animation-delay: 12s;
   -ms-animation-delay: 12s;
   -o-animation-delay: 12s;
   -webkit-animation-delay: 12s;
}

@keyframes images {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }

    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }

    25% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0;
        transform: scale(1) rotate(20deg);
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes images {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }

    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }

    25% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0;
        transform: scale(1) rotate(20deg);
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes images {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }

    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }

    25% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0;
        transform: scale(1) rotate(20deg);
    }

    100% {
        opacity: 0;
    }
}

@-ms-keyframes images {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }

    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }

    25% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0;
        transform: scale(1) rotate(20deg);
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes images {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }

    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }

    25% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0;
        transform: scale(1) rotate(20deg);
    }

    100% {
        opacity: 0;
    }
}

/* End of Picture Carousel*/

/* Buttons */
.button {
    font-weight: bold;
    border-radius: 12px;
    width: 75%;
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: red;
    color: black;
    margin: 100px auto 50px;
}

.button1:hover {
   background-color: white;
   color: black;
}

.button2 {
    background-color: red;
    color: black;
    margin: 50px auto;
}

.button2:hover {
    background-color: white;
    color: black;
}

.button3 {
    background-color: red;
    color: black;   
    margin: 50px auto;
}

.button3:hover {
    background-color: white;
    color: black;
}

.button4 {
    background-color: red;
    color: black;   
    margin: auto;
}

.button4:hover {
    background-color: white;
    color: black;
}

.backbutton {
    background-color: red;
    color: black;
    font-weight: bold;
    border-radius: 12px;
    width: 25%;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 16px;
    font-size: 12px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 30px;
}

.backbutton:hover {
    background-color: white;
    color: black;
}

/* End of Buttons*/

/* Table */
#list {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}

#list table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    opacity: 0.75;
}

#list th, td
{
    padding: 10px;
    text-align: center;
}

#list th {
    background-color: black;
    color: white;
}

#list tr:nth-child(even) {
    background-color: #e8e8e8;

}

#list tr:nth-child(odd) {
    background-color: white;
}

#header {
    background-color: red;
    color:white;
}

/*Media query for Roster and Stats Table*/
@media (max-width: 800px) {
     #list {
      max-width: 300px;
  }


}
/* End of Table */


/* Form  */
.form-signin {
  max-width: 420px;
  padding: 30px 38px;
  margin: 4% auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);

  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.colorgraph {
  height: 7px;
  border-top: 0;
  background: red;
  border-radius: 5px;
}
.img-responsive
{
    display: block;
    height: auto;
    max-width: 75%;
    padding: 15px;
    margin-right: 5px;
}
.socialicons 
{
    list-style: none;
    text-decoration:none;
    display:inline-block;  
    float: right;
    position: relative;
    bottom: -2px;
}

.btn-wrapper
{
    text-align: center;
    padding: 10px;
}

.panel-body .alignment {
    padding-left: 20px;
    padding-right: 20px;
}

.panel-body
{
    display:table;
    width: auto;
    margin-left: auto ;
    margin-right: auto ;
    
}

/* End of Form */

